_build.*
.sconsign.dblite
config.log
.sconf_temp
*.o
*.os
*.so
*.dylib
*.cfgc
*.pyc
.cache/
.pytest_cache/
pytest_session.txt
.coverage
doc/html
doc/*.tag
doc/*.inc
doc/doxygen.conf
tests/.tests
tests/data/postISRCCD/
tests/data/snapExp/
version.py
bin/extractPhosimGainSaturation.py
bin/genDefectRegistry.py
bin/genInputRegistry.py
bin/ingestSimImages.py
bin/makeDefectMaps.py
bin/makeLsstCameraRepository.py
bin/processCalibLsstSim.py
bin/processEimage.py
