# -*- python -*-
from lsst.afw.image import FilterConfig, FilterSetConfig
root = FilterSetConfig()
root.description = "The LSST Filters from L. Jones 04/07/10"
root.filters = [ FilterConfig(name='u', lambdaEff=364.59),
                 FilterConfig(name='g', lambdaEff=476.31),
                 FilterConfig(name='r', lambdaEff=619.42),
                 FilterConfig(name='i', lambdaEff=752.06),
                 FilterConfig(name='z', lambdaEff=866.85),
                 FilterConfig(name='y', lambdaEff=971.68, alias=['y4']), # official y filter
                 FilterConfig(name='y3', lambdaEff=1002.44), # candidate
                 ]

